<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Free Bet Maximizer Log In</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
 <table border="0" cellpadding="10" cellspacing="0" width="100%">
  <tr>
   <td>
   <table align="center" border="0" cellpadding="0" bgcolor="#fdfcff" cellspacing="0" width="600" style="border-collapse: collapse;">
	 <tr>
		<td width="100" bgcolor="#fdfcff" style="padding: 100px 0 5px 0;"></td>
		<td width="100" bgcolor="#fdfcff" style="padding: 50px 0 5px 0;"></td>
		<td width="100" bgcolor="#fdfcff" style="padding: 50px 0 5px 0;"></td>
		<td width="100" bgcolor="#fdfcff" style="padding: 50px 0 5px 0;"></td>
		<td width="100" bgcolor="#fdfcff" style="padding: 50px 0 5px 0;"></td>
		<td width="100" bgcolor="#fdfcff" style="padding: 50px 0 5px 0;"></td>
	 </tr>
	 <tr>
	  <td width="200" colspan="2" bgcolor="#fdfcff"></td>
	  <td align="center" width="200" colspan="2" bgcolor="#58218c" style="padding: 10px 0 10px 0; color: #ffffff; font-family: Arial, sans-serif; font-size: 24px; border-radius:20px;">
		Free Bet Maximizer
	  </td>
	  <td width="200" colspan="2" bgcolor="#fdfcff"></td>
	 </tr>
	 <tr>
		<td width="600" colspan="6" bgcolor="#fdfcff" style="padding: 5px 0 5px 0;"></td>
	 </tr>
	 <tr>
		<td align="center" width="400" colspan="6" bgcolor="#fdfcff" style="padding: 20px 0 20px 0; font-family: Arial, sans-serif; font-size: 20px;">
			Tap the button below to log into Free Bet Maximizer and retrieve your saved accounts summaries
		</td>
	 </tr>
	 <tr>
		<td width="600" colspan="6" bgcolor="#fdfcff" style="padding: 5px 0 5px 0;"></td>
	 </tr>
	 <tr>
	  <td width="200" colspan="2" bgcolor="#fdfcff"></td>
	  <td align="center" width="200" colspan="2" bgcolor="#58218c" style="padding: 20px 5px 20px 5px; color: #ffffff; font-family: Arial, sans-serif; font-size: 20px; border-radius:20px;"> 
	   <a href="{{ url }}" style="color: #ffffff; font-family: Arial, sans-serif; text-decoration: none;">Click here to log in</a>
	  </td>
	  <td width="200" colspan="2" bgcolor="#fdfcff"></td>
	 </tr>
	 <tr>
		<td width="600" colspan="6" bgcolor="#fdfcff" style="padding: 5px 0 100px 0;"></td>
	 </tr>
	</table>
   </td>
  </tr>
 </table>
</body>
</html>