{% extends "base.html" %}
{% load staticfiles %}
{% load comments static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailmath %}


{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />
    <link href="{% static 'comment.css' %}" rel="stylesheet">
{% endblock %}
	
{% block body_class %}template-blogpage{% endblock %}

{% block body %}

    <h1>{{ page.title }}</h1>
	<hr>
    <p class="meta">Posted on {{ page.date }}</p>
	<hr>
	
	{% with categories=page.categories.all %}
		{% if categories %}
			<ul>
				<li style="display: inline">Categories: </li>
				{% for category in categories %}
					<li style="display: inline">
						<strong class="d-inline-block mb-2 text-primary">{{ category.name }}</strong>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	
	<div class="text-center">
	{% with page.main_image as main_image %}
		{% if main_image %}{% image main_image max-1151x250 class="img-fluid rounded" %}{% endif %}
	{% endwith %}
	</div>

    <hr>

	<div class="one_line my-2"><strong>{{ page.one_line }}</strong></div>
    <div class="intro my-2 text-justify">{{ page.intro }}</div>

    {% with blocks=self.body %}
		{% for block in blocks %}
		<div class="row my-3">
			{% if block.block_type == 'heading' %}
				<h4>{{ block.value }}</h4>
			{% elif block.block_type == 'image' %}
			   <div class="mx-auto d-block block-{{ block.block_type }}">
				   {% image block.value max-1151x250 class="img-fluid rounded" %}
			   </div>
			{% elif block.block_type == 'paragraph' %}
			   <div class="text-justify block-{{ block.block_type }}">
				   {{ block }}
			   </div>
			{% elif block.block_type == 'equation' %}
			   <div class="offset-3 col-6 block-{{ block.block_type }}">
				   {{ block }}
			   </div>
			{% else %}
				   {{ block }}
			{% endif %}
		</div>
		{% endfor %}
	{% endwith %}
	
	<hr>
	
	{% get_comment_count for page as comment_count %}
	<div class='form-inline col-8 offset-2 pt-4'>
		<h4 class='col-2'>Comments</h4>
		<h5 class='col-4 offset-6'>{{ comment_count }} comments</h5>
	</div>
	<ul class="list-group list-group-flush col-8 offset-2 my-3">
		{% render_comment_list for page %}
	</ul>
	<h4 class='offset-2 py-2'>Leave a comment</h4>
	{% render_comment_form for page %}

    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>

{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>
	<script src="{% mathjax %}"></script>
{% endblock %}