{% load wagtailcore_tags wagtailimages_tags %}

{% with blocks=self %}

    {% for block in blocks %}
        {% if block.block_type == 'heading' %}
            <h2>{{ block.value }}</h2>
        {% elif block.block_type == 'image' %}
			<div class="text-center">
				{% image block.value max-575x250 class="my-2 rounded img-responsive" %}
			</div>
		{% elif block.block_type == 'paragraph' %}
			<div class="text-justify">
				{{ block }}
			</div>
        {% else %}
           <section class="block-{{ block.block_type }}">
               {{ block }}
           </section>
        {% endif %}
    {% endfor %}

{% endwith %}