<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Free Bet Maximizer - {% block title %}{% endblock %}</title>
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
		<link href="{% static 'base.css' %}" rel="stylesheet">
		{% block css %}{% endblock %}
	</head>
	
    <body class="{% block body_class %}{% endblock %}">
	
		{% block navbar %}
			<nav class="navbar navbar-expand-lg navbar-light bg-light rounded mb-4">
				<a class="navbar-brand" href="{% url 'home' %}">
					<img src="{% static 'images/logo-stamp.svg' %}" width="40" height="40" alt="">
					Free Bet Maximizer
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsExample09">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
						  <a class="nav-link" href="{% url 'home' %}">Home</a>
						</li>
						<li class="hidden nav-item">
						  <a class="new_summary nav-link" href="{% url 'new_summary' %}">New Account Summary</a>
						</li>
						<li class="nav-item">
						  <a class="new_market nav-link" href="{% url 'market_manual' %}">Arbitrage Market</a>
						</li>
						<!-- Blog_only --->
						<li class="nav-item">
						  <a class="odds_converter nav-link" href="{% url 'odds_converter' %}">Odds Converter</a>
						</li>
						<!-- <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							  Tools
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							  <a class="dropdown-item odds_converter" href="{% url 'odds_converter' %}">Odds Converter</a>
							</div>
						</li> -->
					{% if user.email %}
						<li class="navbar-item"><a class="nav-link" href="{% url 'my_summaries' user.email %}">My Account Summaries</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="login navbar-item my-2">Logged in as {{ user.email }}</li>
						<li><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
					</ul>
					{% else %}
					</ul>
					<form class="hidden login form-inline my-2 my-lg-0" method="POST" action="{% url 'send_login_email' %}">
						{% if summary %}<input type="hidden" name="summary_id" value="{{ summary.id }}" />{% endif %}
						<input class="form-control mr-sm-2" name="email" type="email" type="text" placeholder="Enter email to log in">
						<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Log In</button>
						{% csrf_token %}
					</form>
					{% endif %}					
				</div>
			</nav>
		{% endblock %}
		
		<div class="container">
			<h2>{% block heading %}{% endblock %}</h2>
			{% if messages %}
			<div class="row">
				<div class="offset-2 col-md-8">
				{% for message in messages %}
				  {% if message.level_tag == 'success' %}
					<div class="alert alert-success">{{ message }}</div>
				  {% else %}
					<div class="alert alert-warning">{{ message }}</div>
				  {% endif %}
				{% endfor %}
				</div>
			</div>
			{% endif %}
			
			{% block body %}{% endblock %}
			
		</div>
		
		{% block footer %}
			<footer class="footer">
				<div class=" w100 bg-light text-center" style="height:50px;">
					<span class="my-5 text-muted">&copy; 2018</span>
				</div>
			</footer>
		{% endblock footer %}
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{% static 'jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		{% block scripts %}{% endblock %}
	</body>
	
</html>