{% comment %}
  Something that django_comments does not provide:
  An individual template for a single comment, to easily be reused.

  This include is also used by the Ajax comments view.
  The div id should be "c{id}", because the comment.get_absolute_url() points to it.

  NOTE: to override the displayed date format, don't replace this template.
  Instead, define DATETIME_FORMAT in a locale file. Requires setting:

   FORMAT_MODULE_PATH = 'settings.locale'

  Then create 'settings/locale/XY/formats.py' with:

   DATETIME_FORMAT = '...'

  This should give you consistent dates across all views.
{% endcomment %}

{% load i18n %}
<li class="list-group-item">
	<div{% if preview %} id="comment-preview"{% else %} id="c{{ comment.id }}"{% endif %} class="comment-item">
	  {% block comment_item %}
		{% if preview %}<h6>{% trans "Preview of your comment" %}</h6>{% endif %}
			{% block comment_title %}
				<div class="form-inline">
				  <h6 class="col-2 mb-3">{{ comment.name }}</h6>
				  <small class="col-4 offset-6 mb-3">{% blocktrans with submit_date=comment.submit_date %}on {{ submit_date }}{% endblocktrans %}</small>
				</div>
				{% if not comment.is_public %}<span class="comment-moderated-flag">({% trans "moderated" %})</span>{% endif %}
				{% if USE_THREADEDCOMMENTS and not preview %}<a href="#c{{ comment.id }}" data-comment-id="{{ comment.id }}" class="comment-reply-link">{% trans "reply" %}</a>{% endif %}
			{% endblock %}
			<p class="mb-1">{{ comment.comment|linebreaks }}</p>
	  {% endblock %}
	</div>
</li>
