hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.input:disabled {
	border: none;
	background-color: transparent;
}

#banked {
	color: transparent;
}

.positive {
	color: green;
}

.negative {
	color: red;
}